doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Farmer One Registration
  link(rel='stylesheet' href='bootstrap/css/bs/bootstrap.min.css')
  link(rel='stylesheet' href='styles/oFarmstyle.css')
  title Farmer One Registration

.oFamerReg
  h2 Farmer One Registration
  form(role='form' name='farmerOne' method='POST'  action='/farmerOneReg' onsubmit='return Validate()')
    fieldset
      legend
        b Personal information
      
      //- First name 
      input#firstname.form-control(type='text' name='firstName' placeholder='First Name')
      #fName.text-danger.font-weight-bold.small

      //- Last name
      input#lastname.form-control(type='text' name='lastName' placeholder='Last Name')
      #lName.text-danger.font-weight-bold.small

      //- User name
      input#userName.form-control(type='text' name='username' placeholder='User Name')
      #Name.text-danger.font-weight-bold.small

      //- Password
      input#pswd.form-control(type='text' name='password' placeholder='Password')
      #Pwd.text-danger.font-weight-bold.small

      //- Password confirmation
      input#passwordConf.form-control(type='text' name='confirmPassword' placeholder='Confrim Password')
      #pwdConf.text-danger.font-weight-bold.small

      //- Role
      input#fOne.form-control(type='text' name='role' value='farmerOne' readonly)
      span#rol.text-danger.font-weight-bold.small

      //- Gender
      select#gnder.form-control(name='gender')
        option(value='default' selected='' disabled='') Gender
        option(value='Male') Male
        option(value='Female') Female
      #gend.text-danger.font-weight-bold.small

      //- Date of birth
      label
        b Date of birth
        input#dob.form-control3(type='date' placeholder='dd-mm-yyyy' name='dateOfBirth')
      #dtb.text-danger.font-weight-bold.small

      //- NIN
      input#nin_no.form-control(type='text' name='nin' placeholder='National Identification Number (NIN)')
      #ni.text-danger.font-weight-bold.small

      //- Phone number
      input#phn.form-control(type='text' placeholder='Phone' name='phone')
      #phon.text-danger.font-weight-bold.small

      //- Address
      input#addre.form-control(type='text' name='address' placeholder='Address')
      #addr.text-danger.font-weight-bold.small

      //- Residence type
      label
        b  Residence type
        .form-check
          input#formCheck-1.form-check-input(type='radio' value='Permanent' name='residenceType')
          label.form-check-label(for='Residence type') Permanent
        .form-check
          input#formCheck-2.form-check-input(type='radio' value='Temporary' name='residenceType')
          label.form-check-label(for='Residence type') Temporary
      #rad.text-danger.font-weight-bold.small
    fieldset

      //- Farmer One infromation
      legend
        b Farmer One Information

      //- Ward
      select#uWard.form-control(name='ward')
        option(selected='' disabled='' value='selectWard') Ward
        option(value='1') 1
        option(value='2') 2
        option(value='3') 3
        option(value='4') 4
      #wad.text-danger.font-weight-bold.small

      //- Farmer One Number
      input#foID.form-control(type='text' placeholder='Farmer One number' name='fOnumber')
      #fone.text-danger.font-weight-bold.small

      //- Activities
      select#ctivit.form-control(name='activities')
        option(value='selectAct' selected='' disabled='') Activities
        option(value='Horticulture') Horticulture
        option(value='Poultry') Poultry
        option(value='Dairy products') Dairy products
      #act.text-danger.font-weight-bold.small

      //- Period of stay
      input#StayPeriod.form-control(type='number' placeholder='Period of stay (>10 years)' name='periodOfStay')
      #ptay.text-danger.font-weight-bold.small

      
      //- Date of registration
      label
        b Date of registration
        input#dor.form-control2(type='date' placeholder='dd-mm-yyyy' name='dateOfReg')
      #dReg.text-danger.font-weight-bold.small
    button.btn.btn-primary(type='submit') Button

script(src='javascripts/famerOneValid.js')


//- script(src='javascripts/oFarmer.js')