doctype html
html
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
title= `${title}`
link(rel="stylesheet", href="../bootstrap/css/bs/bootstrap.min.css")
link(rel="stylesheet", href="../fonts/font-awesome.min.css")
link(rel="stylesheet", href="../styles/Sidebar-Menu-1.css")
//- link(rel="stylesheet", href="styles/css/Sidebar-Menu.css")
link(rel="stylesheet", href="assets/css/styles.css")
div
#wrapper
  #sidebar-wrapper(style="background-color: #78AB45;")
    ul.sidebar-nav
      li.sidebar-brand
        a(href="#", style="background-color: rgba(255,255,255,0);color: rgb(0,0,0);font-size: 34px;") Ufarm
          i.fa.fa-tachometer.fa-2x
      li
        a(href="#", style='color: blue;') Farmer Ones(FO)
          i.fa.fa-table.fa-2x
      li
        a(href="/urbanFReg", style='color: blue;')  Urban Farmers (UF)
          i.fa.fa-table.fa-2x
      li
        a(href="/pUploadList", style="color: blue;") Agric Produce
          i.fa.fa-table.fa-2x
  
  .page-content-wrapper
      a.btn.btn-link#menu-toggle(role="button", href="#menu-toggle")
        i.fa.fa-bars
      .container-fluid
        .col-md-12
          div
        .col
          .card
            .card-body

                header.card-header
                    h4.card-title Welcome Agricultrual Officer
                div.form-row
                    div.col.form-group.col-md-12   
                        div.form-row
                            div.col-md-10
                                p Here is the information #{user.firstname}
                            div.col-md-2
                                form(method="post" action='/logout') 
                                    button.btn.btn-dark.btn-block(type="submit") Log out
                form(method="post" action='/foUpdate?id='+user._id)
                    table.table
                        thead.thead-dark
                            tr
                                th Phonenumber
                                td 
                                    input.form-control(value = user.phone name ="phone")
                            tr
                                th Activities
                                td 
                                    label.form-check 
                                        span.form-check-label Mobilization    &nbsp
                                        input.checkbox-inline(type="checkbox" name="activities" value="Mobilization")
                                    label.form-check 
                                        span.form-check-label Inspection   &nbsp
                                        input.checkbox-inline(type="checkbox" name="activities" value="Inspection")
                                    label.form-check 
                                        span.form-check-label Regulation &nbsp
                                        input.checkbox-inline(type="checkbox" name="activities" value="Regulation")
                                    label.form-check 
                                        span.form-check-label Support &nbsp
                                        input.checkbox-inline(type="checkbox" name="activities" value="Supervision")
                                                        
                            tr
                                td(colspan=2)
                                    button.btn.btn-dark.btn-block(type="submit") Update

script(src="../javascripts/jquery.min.js")
script(src="../bootstrap/js/bootstrap.min.js")
script(src="../javascripts/Sidebar-Menu.js")