doctype html
html
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
title= `${title}`
link(rel="stylesheet", href="bootstrap/css/bs/bootstrap.min.css")
link(rel="stylesheet", href="styles/Sidebar-Menu-1.css")

div
#wrapper
  #sidebar-wrapper(style="background-color: #78AB45;")
    ul.sidebar-nav
      li.sidebar-brand
        a(style="color:#343a40 ;font-size: 34px; font-weight:bold;") Ufarm
      li
        a(class="i.fas fa-profile" style="color:#343a40 ; font-size: 14px; font-weight:bold;") AGRICULTURAL OFFICER(AO)
      li
        a(class="i.fas fa-table" href="#", style="color:#343a40 ; font-size: 14px; font-weight:bold;") Farmers One List (UF)
      li
        a(class="i.fas fa-table" href="/farmerOneReg", style="color:#343a40 ; font-size: 14px; font-weight:bold;")  Register Farmer One (FO)
      li
        a(class="i.fas fa-table" href="#", style="color:#343a40 ; font-size: 14px; font-weight:bold;") Urban Farmers List (UF)
        //- a(href="#", style="color: blue;") Prod
        //- a(href="#", style="color: blue;") Prod
  .page-content-wrapper
      a.btn.btn-link#menu-toggle(role="button", href="#menu-toggle")
        i.fa.fa-bars
      .container-fluid
        .col-md-12
          div
        .col
          .card
            .card-body
                
                block content


script(src="javascripts/jquery.min.js")
script(src="bootstrap/js/bootstrap.min.js")
script(src="javascripts/Sidebar-Menu.js")