doctype html
html
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
title= `${title}`
link(rel="stylesheet", href="../bootstrap/css/bs/bootstrap.min.css")
link(rel="stylesheet", href="../fonts/font-awesome.min.css")
link(rel="stylesheet", href="../styles/Sidebar-Menu-1.css")

div
#wrapper
  #sidebar-wrapper(style="background-color: #78AB45;")
    ul.sidebar-nav
      li.sidebar-brand
        a(style="background-color: rgba(255,255,255,0);color: rgb(0,0,0);font-size: 34px;") Ufarm
          i.fa.fa-tachometer.fa-2x
      //- li
      //-   a(href="/fOneList", style='color: blue;') Farmer Ones(FO)
      //-     i.fa.fa-table.fa-2x
      li
        a(href="uFarmList", style='color: blue;')  Urban Farmers (UF)
          i.fa.fa-table.fa-2x
      li
        a(href="/pUploadList", style="color: blue;") Agric Produce
          i.fa.fa-table.fa-2x
  .page-content-wrapper
      a.btn.btn-link#menu-toggle(role="button", href="#menu-toggle")
        i.fa.fa-bars
      .container-fluid
        .col-md-12
          div
        .col
          .card
            .card-body

                header.card-header
                    h4.card-title Product Verification
                div.form-row
                    div.col.form-group.col-md-12   
                        div.form-row
                            div.col-md-10
                                p Product name: #{item.produceName}
                            //- div.col-md-2
                                //- form(method="post" action='/logout') 
                                    //- button.btn.btn-dark.btn-block(type="submit") Log out
                form(method="post" enctype="multipart/form-data" action='/prodUpdate?id='+item._id)
                    table.table
                        thead.thead-dark
                            tr
                                th Status
                                td 
                                    //- input.form-control(value = item.status name ="status")

                                    select#uWard.form-control(value = item.status name ="status")
                                        option(selected='' disabled='' value='select status') Ward
                                        option(value='Pending') Pending
                                        option(value='Approved') Approved
                                        option(value='Declined') Declined
                                        
                            tr
                                td(colspan=2)
                                    button.btn.btn-dark.btn-block(type='submit') Update

script(src="../javascripts/jquery.min.js")
script(src="../bootstrap/js/bootstrap.min.js")
script(src="../javascripts/Sidebar-Menu.js")