doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Urban famer Upload
  link(rel='stylesheet' href='bootstrap/css/bs/bootstrap.min.css')
  link(rel='stylesheet' href='styles/upload.css')
  title Produce Upload
.oFamerReg
  //- enctype is used fr uploadinf images or any file in form.
  form(role='form' name='uploadForm' action='/uProdUpload' method='POST' onsubmit='return Validate()'  enctype="multipart/form-data") 
    fieldset
      legend
        b Farmer produce upload

      //-Uban farmer Id
      input#id.form-control(type='text' name='id' placeholder='Unique ID')
      #Uid.text-danger.font-weight-bold.small
      
      //- Produce Name
      input#producename.form-control(type='text' name='produceName' placeholder='Produce name')
      #prodname.text-danger.font-weight-bold.small

      //- Produce Name
      input#stat.form-control(type='text' name='status' value='pending' hidden)

      //- Date of upload
      label
        b Date of upload
        input.form-control2(type='date' placeholder='dd-mm-yyyy' name='dateOfUpload')
      #dUp.text-danger.font-weight-bold.small
      
      //- Phone number
      input.form-control(type='text' placeholder='Phone' name='phone')
      #phon.text-danger.font-weight-bold.small
      
      //- Address Direction
      input#adress.form-control(type='text' name='address' placeholder='Address')
      #addr.text-danger.font-weight-bold.small
      
      //- Mode of delivery
      label
        b  Mode of delivery
        .form-check
          input#formCheck-1.form-check-input(type='radio' name='modeOfDelivery' value='Pick up') 
          label.form-check-label(for='Mode of delivery') Pick up
        .form-check
          input#formCheck-2.form-check-input(type='radio' name='modeOfDelivery' value='Home delivery')
          label.form-check-label(for='Mode of delivery') Home delivery
      #mde.text-danger.font-weight-bold.small
      
      //- Ward
      select#Ward.form-control(name='ward')
        option(selected='' disabled='' value='selectWard' ) Ward
        option(value='LC1') LC1
        option(value='LC2') LC2
        option(value='LC3') LC3
        option(value='LC4') LC4
      #wad.text-danger.font-weight-bold.small
      
      //- Unit price/ kg
      input.form-control(type='text' placeholder='Unit price/ kg' name='unitPrice')
      #uPrice.text-danger.font-weight-bold.small
      
      //- Quantity
      input.form-control(type='text' placeholder='Quantity(kg)' name='quantity')
      #qt.text-danger.font-weight-bold.small
      
      //- Produce type
      select#produce.form-control(name='produceType')
        option(value='selectType' selected='' disabled='') Produce type
        option(value='Organic') Organic
        option(value='Non-organic') Non-orgnic
      #prod.text-danger.font-weight-bold.small
      
      //- Mode of payment
      select#modeP.form-control(name='mPayment')
        option(value='selectMode' selected='' disabled='') Mode of payment
        option(value='Cash') Cash
        option(value='Mobile Money') Mobile Money
      #mode.text-danger.font-weight-bold.small
      
      //- Add produce image
      label
        | Input produce image
        input.form-control(name='image' type='file' accept='image/*')
        #im.text-danger.font-weight-bold.small

      select#status.form-control(name='Status' hidden)
        option(selected='' disabled='' value='selectWard' ) Ward
        option(value='LC1') LC1
        option(value='LC2') LC2
        option(value='LC3') LC3
        option(value='LC4') LC4



    button.btn.btn-primary(type='submit') Submit

//- script(src='javascripts/upload.js')
script(src='javascripts/prodUploadValid.js')

