doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Urban Farmer Registration
  link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='bootstrap/css/bs/bootstrap.min.css')
  link(rel='stylesheet' href='styles/uFarmstyle.css')
  title Document
.uFamerReg
  h2
    |Urban Farmer Registration
  form(role='form' name='urbanFarm' method='POST' action='/urbanFReg' onsubmit='return Validate()')
    fieldset

      legend
        b Personal information
      
      //- first name
      input#fname.form-control(type='text' name='firstname' placeholder='firstName')
      #fName.text-danger.font-weight-bold.small

      //- last name
      input#lname.form-control(type='text' name='lastname' placeholder='lastname')
      #lName.text-danger.font-weight-bold.small
      
      //- Username   
      input.form-control(type='text' id='' name='username' placeholder='Username')
      #Name.text-danger.font-weight-bold.small

      //- password
      input.form-control(type='text' id='' name='password' placeholder='Password')
      #pwd.text-danger.font-weight-bold.small

      //- password confirmation
      input.form-control(type='text' id='' name='confirmPassword' placeholder='Confirm Password')
      #pwdConf.text-danger.font-weight-bold.small
      
      //- Role
      input#role.form-control(type='text' name='role' value='urbFarmers' readonly)
      #rol.text-danger.font-weight-bold.small

      //- Gender
      select#gender.form-control
        option(value='selectGender' name='gender' selected='' disabled='') Gender
        option(value='1') Male
        option(value='2') Female
      #gend.text-danger.font-weight-bold.small
    
      //- Date of birth
      label
        | Date of birth
        input.form-control3(type='date' placeholder='dd-mm-yyyy' name='dateOfBirth')
      #dtb.text-danger.font-weight-bold.small
    
      //- Nin
      input.form-control(type='text' name='nin' placeholder='National Identification Number (NIN)')
      #niN.text-danger.font-weight-bold.small
    
      //- Phone number
      input.form-control(type='text' placeholder='Phone' name='phone')
      #phon.text-danger.font-weight-bold.small
    fieldset
      legend
        b Urban Farmer Information
    
      //- Ward
      select#ward.form-control
        option(selected='' disabled='' value='selectWard' name='ward') Ward
        option(value='LC1') LC1
        option(value='LC2') LC2
        option(value='LC3') LC3
        option(value='LC4') LC4
      #wd.text-danger.font-weight-bold.small
    
      //- Unique Identification
      input.form-control(type='text' placeholder='Unique Identification (ID)' name='id')
      #uiD.text-danger.font-weight-bold.small
    
      //- Activities
      select#activities.form-control
        option(selected='' disabled='' value='selectAct' name='activities') Activities
        option(value='Horticultre') Horticulture
        option(value='Poultry') Poultry
        option(value='Dairy products') Dairy products
      #sAct.text-danger.font-weight-bold.small
    
      //-Date of registration
      label
        | Date of registration
        input.form-control2(type='date' placeholder='dd-mm-yyyy' name='dateOfReg')
        #dReg.text-danger.font-weight-bold.small
        
    button.btn.btn-primary(type='submit') Button
script(src='javascripts/urbanFarmerValid.js')
