/* Removing arrows from number input */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Styling body */
body {
  text-align: center;
  background-color: #78AB45;
}

/* Styling  */
.oFamerReg {
  display: inline-block;
  width: 500px;
  height: 800px;
  padding-top: 100px;
}

/* Styling the form */
form {
  text-align: justify;
  width: 500px;
  padding-left: 35px;
  background-color: #f6fef6;
}

/* Styling the fieldset */
fieldset {
  width: 500px;
}

/* Styling the input */
input {
  width: 400px;
  margin: 5px;
}

/* Styling the form using class form-control */
.form-control {
  width: 400px;
  margin: 5px;
}

.form-control2 {
  width: 284px;
  margin: 5px;
}

.form-control3 {
  width: 299px;
}

legend {
  width: 400px;
}

.btn btn-primary {
  margin: 5px;
}

.text-danger {
  display: block;
}
